/* blocks/b-page/b-page.css begin */
.b-page .b-page__body
{
    font: 100% sans-serif;

    visibility: hidden;
}

.b-page_js_inited .b-page__body
{
    visibility: visible;
}

/* blocks/b-page/b-page.css end */

/* blocks/b-table/b-table.css begin */
.b-table__cell
{
    padding: 1.5em 0.2em;
}

.b-table__cell_type_label
{
    padding-right: 0.5em;
}

.b-table__cell_type_result
{
    padding-left: 2em;
}

/* blocks/b-table/b-table.css end */

/* blocks/b-input/b-input.css begin */
.b-input
{
    background: #fff7cb;

    border: 1px solid #3072ff;

    font: 100% sans-serif;

    height: 2em;
}

/* blocks/b-input/b-input.css end */

/* blocks/b-button/b-button.css begin */
.b-button
{
    background: #3072ff;

    color: #fff;

    cursor: pointer;

    display: inline-block;

    height: 2em;

    line-height: 2em;

    padding: 0 1em;
}

.b-button_pressed_yes
{
    margin: 1px -1px -1px 1px;
}

.b-button_hover_yes
{
    background: red;
}

/* blocks/b-button/b-button.css end */

